/*Navigation Bar*/

.navbar-flat { background: white; margin-bottom: 0px;}
.navbar-flat .navbar-collapse { text-align: center; }
.navbar-flat ul { float: none; }
.navbar-flat li { display: inline-block; float: none; margin-left: 1%; margin-right: 1%;}
.navbar-flat li a:hover { background: #c12728; color: white; }
.navbar-flat li a:focus { background: #c12728; color: white; }
.navbar-flat li.active a { background: #c12728; color: white; }
.navbar-flat a { font-family: "Lato", sans-serif; font-weight: 700; color: #c89a99; -webkit-transition: all 0.3s ease-in, 1s; -moz-transition: all 0.3s ease-in, 1s; -o-transition: all 0.3s ease-in, 1s; -ms-transition: all 0.3s ease-in, 1s; transition: all 0.3s ease-in, 1s; }
.navbar-header a {border: 1px solid black; color: black; font-family: "Lato", sans-serif; }
.navbar-header a:hover {background: #c12728; color: white;}

/*Header*/

/*Sets the background image for the header*/
.background {
	margin-top: 4%;
	height: 390px;
	background: url(../img/hanger.jpg)
	
}

/*Positions the writing insode the header area, infront of the background*/
.header_content {
	position: absolute;
    z-index: 3;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -20%);
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    color: white;
}
/*SEX Section*/
/*---------------------------*/
#sex {
	/*height: 250px;*/
	/*border: 1px solid black;*/
	background: transparent;
	/*scroll-behavior: unset;*/
}

.sex-holder {
	height: 250px;
	/*border: 1px solid green;*/
	text-align: center;
}

.men {
	border: 1px solid #6495bd;
	border-radius: 40px;
	background-color: #417eb1;
	opacity: .6;
	display: inline-block;
	width: 30%;
	height: 75%;
	margin-top: 2%;
	margin-right: 1%
}

.men:hover {
	box-shadow: 1px 1px 5px 5px grey;
}

h2 {
	text-align: center;
	margin-top: 29%;
	color: white;
	font-family: "Lato", sans-serif;
}

.women {
	border: 1px solid #e1a3be;
	border-radius: 40px;
	background-color: #e1a3be;
	opacity: .6;
	display: inline-block;
	width: 30%;
	height: 75%;
	margin-top: 2%;
	margin-left: 1%;
}

.women:hover {
	box-shadow: 1px 1px 5px 5px grey;
}

/*SHIRTS Section*/
/*---------------------------------------*/

/*Box that holds the image name and price tags*/
.object_box {
	border: 1px solid grey;
	border-radius: 5px;
	display: inline-block;
	width: 30%;
	text-align: center;
	margin-left: 2%;
	margin-right: 1%;
	margin-top: 2%;
	padding: 0px;
}


#shirts {
	height: 500px;
}

/*Tag box with name an dprice*/
.tag_div {
	background-color: #cd7223;
	opacity: .6;
	/*border-radius: 5px;*/
	height: 14%;
	width: 100%;
	text-align: left;
}

/*Wording inside tag box*/
.tags {
	display: inline-block;
	margin-top: 8%;
	margin-bottom: 8%;
	margin-right: 20%;
	margin-left: 8%;
	font-family: "Lato", sans-serif;
	color: white;
	font-size: large;
}

.img {
	width: 100%;
	border-radius: 5px;
}

.img:hover {

}




